* {
  margin: 0;
  padding: 0;
}
.apple_pie {
  height: 70vh;
  width: 80vw;
  background-image: url("../images/apple-pie.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5em;
  color: white;
}
body {
  margin: 0 10vw;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  align-content: center;
}
ul,
ol,
h3,
p {
  list-style-type: none;
  margin: 5vh 10vw;
  width: 60vw;
  text-align: justify;
}
hr {
  margin: 0 10vw;
  width: 60vw;
}
.img1 {
  width: 35vw;
}
.img2 {
  width: 25vw;
}
.center {
  display: flex;
  justify-content: center;
}
